apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-ovaaxbst
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-ovaaxbst:b695a47870fed471d97178cd1d3e05a424d28e87@sha256:3a5d10a54f445314a269a1a0497788818bf2aac92e51813ed2d423a9a5a6846f
        name: container-image  
